/* global starts */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Signika:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Singnika";
  transition: 0.5s;
}

:root {
  --primary: #ffa400;
  --gray: #555;
  --bg-gray: #f9f9f9;
  --white: #eee;
  --bg-dark: #202020;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Chewy";
}

a {
  text-decoration: none;
}
/* global ends */

/* nav starts */
nav {
  background: var(--white);
  padding: 1rem 0;
}

nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  color: var(--primary);
}
.logo:hover {
  color: var(--gray);
}

#toggle {
  color: var(--primary);
  border: 0;
  font-size: 1.5rem;
  padding: 0.7rem;
  cursor: pointer;
  background: transparent;
}

nav .navbar li {
  display: inline-block;
  margin-right: 0.3rem;
}

nav .navbar li a {
  color: var(--primary);
  text-transform: uppercase;
  display: block;
  padding: 0.7rem;
}

/* nav ends */
