/* global starts */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Signika:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika";
  transition: 0.5s;
}

:root {
  --primary: #ffa400;
  --gray: #555;
  --bg-gray: #f9f9f9;
  --white: #eee;
  --bg-dark: #202020;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Chewy";
}

a {
  text-decoration: none;
}

section {
  padding: 5rem 0.5rem;
}

.title {
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}

.title::after {
  content: "";
  width: 7rem;
  height: 0.1rem;
  margin: 2rem auto;
  display: block;
  background: var(--primary);
}
/* global ends */

/* nav starts */
nav {
  background: var(--white);
  padding: 1rem 0;
}

nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  color: var(--primary);
}
.logo:hover {
  color: var(--gray);
}

#toggle {
  color: var(--primary);
  border: 0;
  font-size: 1.5rem;
  padding: 0.7rem;
  cursor: pointer;
  background: transparent;
  display: none;
}

nav .navbar li {
  display: inline-block;
  margin-right: 0.3rem;
}

nav .navbar li a {
  color: var(--primary);
  text-transform: uppercase;
  display: block;
  padding: 0.7rem;
}
.navbar li a:hover {
  color: var(--gray);
}

/* nav ends */

/* home starts */
#home .home-slide {
  height: 37rem;
  position: relative;
}
#home .home-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .home-slide .content {
  position: absolute;
  color: var(--white);
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .home-slide .content h1 {
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
#home .home-slide .content h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/* home ends */

/* about starts */
#about h1 {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#about .about-content .about-content-info,
#about .about-content .about-content-img {
  width: 50%;
  padding: 1rem;
}

#about .about-content .about-content-info h2 {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#about .about-content .about-content-info p {
  line-height: 1.7rem;
  margin-bottom: 0.7rem;
}

#about .about-content .about-content-img {
  text-align: center;
}

#about .about-content .about-content-img img {
  width: 88%;
  outline: 2px solid var(--gray);
  outline-offset: 20px;
}
/* about ends */

/* gallery starts */
#gallery {
  background: var(--bg-gray);
}

#gallery .gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

#gallery .gallery-content .card {
  flex: 1 0 20rem;
}

#gallery .gallery-content .card .card-img {
  width: 100%;
  height: 15rem;
}
#gallery .gallery-content .card .card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#gallery .gallery-content .card .card-body {
  background: #fff;
  padding: 1.5rem;
}

#gallery .gallery-content .card .card-body h2 {
  color: var(--primary);
}
/* gallery ends */

/* contact starts */
#contact form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#contact form .form-input {
  width: 47%;
}

#contact form .form-input input,
#contact form .form-input textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--white);
}

#contact form .form-input input::placeholder,
#contact form .form-input textarea::placeholder {
  font-size: 1rem;
}

#contact form button {
  width: 100%;
  background: var(--white);
  border: 1px solid var(--white);
  font-weight: bold;
  cursor: pointer;
  color: var(--bg-dark);
  padding: 1rem;
}
/* contact ends */

/* info starts */
.info .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info .container .box {
  width: 33%;
}

.info .container .box h3 {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.info .container .box i {
  margin-right: 0.5rem;
}

.info .container .box p {
  margin-bottom: 0.5em;
}

.info .container .box a {
  color: var(--primary);
}
/* info ends */

/* footer starts */
footer {
  background: var(--bg-dark);
  color: #fff;
  padding: 5rem 0.5rem;
  text-align: center;
}

footer p {
  line-height: 2rem;
  margin-bottom: 1rem;
}

footer .divider {
  background: var(--primary);
  width: 15rem;
  height: 0.1rem;
  margin: 0 auto;
}

footer .social {
  margin: 1rem 0;
}

footer .social a {
  color: var(--white);
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
/* footer ends */

/* up arrow starts */
#up {
  background: var(--primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  border: 3px solid var(--white);
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#up.active {
  display: block !important;
}
/* up arrow ends */

/* media queies */
@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  /* about */
  #about .about-content .about-content-info,
  #about .about-content .about-content-img {
    width: 100%;
  }

  #about .about-content .about-content-img {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
  }

  /* nav starts */
  nav {
    position: relative;
  }
  nav #toggle {
    display: block;
  }
  nav .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: var(--white);
    border-top: 1px solid var(--gray);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  nav .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  nav .navbar li {
    display: block;
    text-align: center;
  }
  /* nav ends */

  /* contact */
  #contact form .form-input {
    width: 100%;
  }

  /* info */
  .info .container .box {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
